body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: rgb(21, 212, 174);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info .username {
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.grid-item {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.grid-item img {
  width: 100%; /* Image takes 100% width of the grid item */
  height: auto; /* Height adjusts to maintain aspect ratio */
  border-radius: 8px;
}

.title {
  font-size: 18px;
  margin: 10px 0;
}

.rating {
  color: #f39c12;
  font-weight: bold;
  margin-bottom: 10px;
}

.button {
  background-color: #3498db;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}
